/* ------------ Fontes ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/* --------------- Base --------------- */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #36334f;
    background-color: #e57461;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #36334f;
}

/*------ Definicoes de modo Noite ---------*/
.dark{
    background-color: #36334f;
    font-family: 'Poppins', sans-serif;
    color: #f9f7f2;
}
.dark .face .p_1{
    color: #f9f7f2;
}
.dark .cabeza .menu .opicion a{
    color: #f9f7f2;
}
.dark .cabeza .navega .menu .opicion a:hover{
    border-left: 4px solid #fcdd86;
    color: #f9f7f2;
    font-weight: 300;
}
.dark .soy{
    border-radius: 50px;
    background: #36334f;
    box-shadow: inset 20px 20px 60px #2e2b43,
            inset -20px -20px 60px #3e3b5b;
}
/* --------- Navegacion ---------*/
.cabeza{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}
.cabeza .btn{
    width: 40px;
    cursor: pointer;
    position: fixed;
}
.cabeza .btn i{
    font-size: 1.3rem;
    opacity: 0.7;
   
}
.cabeza .btn i:nth-child(2){
    display: none;
}
.cabeza .btn.active i:nth-child(2){
    display: block;
}
.cabeza .btn.active i:nth-child(1){
    display: none;
}
.cabeza .menu{
    display: flex;
    margin-left: 40px;
}
.cabeza .navega .menu .opicion{
    margin: 10px;
}
.cabeza .navega .menu .opicion a{
    padding: 10px;
    transition: 0.38s ease-out;
}
.cabeza .navega .menu .opicion:hover{
    border-left: 1px solid #36334f;
    color: #36334f;
}

@media(max-width: 624px){
    .cabeza .menu{
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.7rem;
    }
    .cabeza .navega .menu .opicion{
        border: 1px solid #36334f;
        border-radius: 4px;   
    }
}
/* ---------- principal --------*/
.face img{
    width: 540px;
    height: auto;
    margin: 4%;
}
.face{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.meu_nome .nome{
    font-family: 'Lora', serif;
    font-size: 64px;
    font-weight: 300;
}
.face .p_1{
    color: #36334f;
    font-weight: 300;
    text-align: right;
}

.face .curriculo{
    float: right;
    margin-top: 4%;
    width: 180px;
    height: 60px;
    border-radius: 60px;
    background: #e57461;
    box-shadow: 20px 20px 60px #c36352, 
    -20px -20px 60px #ff8570;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.face .curriculo:hover{
    background-color: #fcdd86;
    font-weight: bold;
    transform: translatex(10px);
}
@media(max-width: 624px){
    .face{
        height: 100vh;
    }
    .face img{
        width: 280px;
        margin: auto;
    }
    .face .meu_nome .nome{
        font-size: 30px;
    }
    .face .curriculo{
        width: 140px;
        font-size: 1rem;
    }
}
/*------------------ Sobre mim ---------------------*/
.soy{
    margin: 4%;
    padding: 4%;
    border-radius: 50px;
    background: #ff8570;
    box-shadow: inset 20px 20px 60px #d9715f,
            inset -20px -20px 60px #ff9981;
}
.soy .eu_pessoa{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.soy h3{
    text-align: center;
    margin: 30px;
}
.soy .eu_pessoa .foto_eu img{
    height: 420px;
    width: auto;
    border-radius: 20px;
}
.soy .eu_pessoa .texto_eu{
    width: 420px;
    text-align: justify;    
}
@media(max-width: 624px){
    .soy{
        margin: 10%;
    }
    .soy .eu_pessoa .texto_eu{
        padding: 10px;
    }
}
/* -------------- Tecnologias -------------------*/
.tecnologias{
    margin-top: 10%;
}
.tecnologias h3{
    text-align: center;
    margin: 100px 0;
}
.tec_zona{
    display: grid;
    z-index: 1;
    grid-gap: .3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.tec_zona .card{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50px;
    background: #e57461;
    box-shadow: 20px 20px 60px #c36352,
                -20px -20px 60px #ff8570;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tec_zona .card .conteudo img{
    width: 100px;
}
.tec_zona .card .conteudo{
    padding: 10px;
}
@media(max-width: 624px){
    .tec_zona{
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
    }
    .tec_zona .card{
        width: 120px;
        height: 120px;
    }
    .tec_zona .card .conteudo img{
        width: 50px;
    }
}
/*-------------- Experiencias ---------------*/

.experi h3{
    text-align: center;
    margin: 100px;
}
.desejo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.caixa{
    color: #f9f7f2;
    width: auto;
    height: auto;
    padding: 3%;
    border-radius: 10px;
    background: #529199;
    text-align: center;
    margin: 30px;    
}
.deseo_profi .exper_descrita{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.exper_descrita .cartao{
    width: 380px;
    height: auto;
    padding: 3%;
    background-color: #529199;
    color: #f9f7f2;
    margin: 2%;
    border-radius: 10px;
}
@media(max-width: 624px){
    .exper_descrita .cartao{
        width: 260px;
        padding: 20px;
    }
}
/* ----------- projetos -------------*/

/*------------- redes sociais / contato -----------*/
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}
.social img{
    width: 40px;
}
.social a{
    transform-origin: 0;
    transition: 0.6s;
}
.social a:hover{
    transform: translateY(-10px);
}
@media(max-width: 624px){
    .social{
        margin: 100px 20px;
    }
}