/* ------------ Fontes ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/* --------------- Base --------------- */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #36334f;
    background-color: #e57461;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #36334f;
}

/*------ Definicoes de modo Noite ---------*/
.dark{
    background-color: #36334f;
    font-family: 'Poppins', sans-serif;
    color: #f9f7f2;
}
.dark .face .p_1{
    color: #f9f7f2;
}
.dark .cabeza .menu .opicion a{
    color: #f9f7f2;
}
.dark .cabeza .navega .menu .opicion:hover{
    border-left: 1px solid #fcdd86;
    color: #f9f7f2;
    font-weight: 300;
}
.dark .soy{
    border-radius: 50px;
    background: #36334f;
    box-shadow: inset 20px 20px 60px #2e2b43,
        inset -20px -20px 60px #3e3b5b;
}
.dark .tecno2{
    background: #36334f;
}
.dark .tecno2.active span{
    border-radius: 38px;
    background: linear-gradient(145deg, #312e47, #3a3755);
    box-shadow:  20px 20px 60px #2e2b43,
             -20px -20px 60px #3e3b5b;
}
/* --------- Navegacion ---------*/
.cabeza{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}
.cabeza .btn{
    width: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
}
.cabeza .btn i{
    font-size: 1.3rem;
    opacity: 0.7;  
}
.cabeza .btn i:nth-child(2){
    display: none;
}
.cabeza .btn.active i:nth-child(2){
    display: block;
}
.cabeza .btn.active i:nth-child(1){
    display: none;
}
.cabeza .menu{
    display: flex;
    margin-left: 40px;
}
.cabeza .navega .menu .opicion{
    margin: 10px;
}
.cabeza .navega .menu .opicion a{
    padding: 10px;
    transition: 0.38s ease-out;
}
.cabeza .navega .menu .opicion:hover{
    border-left: 1px solid #36334f;
    color: #36334f;
}

@media(max-width: 624px){
    .cabeza .menu{
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.7rem;
    }
    .cabeza .navega .menu .opicion{
        border: 1px solid #36334f;
        border-radius: 4px;   
    }
    .dark .cabeza .navega .menu .opicion{
        border: 1px solid #f9f7f2;
        border-radius: 4px;
    }   
}
/* ---------- principal --------*/
.face img{
    width: 480px;
    height: auto;
    margin: 2%;
}
.face{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.meu_nome .nome{
    font-family: 'Lora', serif;
    font-size: 64px;
    font-weight: 300;
}
.face .p_1{
    color: #36334f;
    font-weight: 300;
    text-align: right;
}

.face .curriculo{
    float: right;
    margin-top: 4%;
    width: 180px;
    height: 60px;
    border-radius: 60px;
    background: #e57461;
    box-shadow: 20px 20px 60px #c36352, 
    -20px -20px 60px #ff8570;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in-out;
}
.face .curriculo:hover{
    background-color: #fcdd86;
    font-weight: bold;
    transform: translatex(10px);
    filter: drop-shadow(0 0 20px #fcdd86);
}
@media(max-width: 624px){
    .face{
        height: 100vh;
    }
    .face img{
        width: 280px;
        margin: auto;
    }
    .face .meu_nome .nome{
        font-size: 30px;
    }
    .face .curriculo{
        width: 140px;
        font-size: 0.8rem;
    }
    
}

/*------------------ Sobre mim ---------------------*/
.soy{
    margin: 4%;
    padding: 4%;
    border-radius: 50px;
    background: #ff8570;
    box-shadow: inset 20px 20px 60px #d9715f,
            inset -20px -20px 60px #ff9981;
}
.soy .eu_pessoa{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.soy h3{
    text-align: center;
    margin: 30px;
}
.soy .eu_pessoa .foto_eu img{
    height: 420px;
    width: auto;
    border-radius: 20px;
}
.soy .eu_pessoa .texto_eu{
    width: 420px;
    text-align: justify;
    padding: 10px;    
}
@media(max-width: 624px){
    .soy{
        margin: 10%;
    }
    .soy .eu_pessoa .texto_eu{
        padding: 10px;
    }
}
/* -------------- Tecnologias -------------------*/
.tecnologias{
    margin-top: 10%;
    height: 700px;
}
.tecnologias h1{
    text-align: center;
    margin: 100px 0;
    
}
.tec_zona{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tec_zona .tecno2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tecno2{
    position: relative;
    width: 420px;
    height: 260px;
    background-color: #e57461;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}
.tecno2.active{
    width: 520px;
    height: 340px;
    transition-delay: 0s;
}
.tecno2 span{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c36352;
    border-radius: 45%;
    transform: translate(calc(80px * var(--x)), calc(40px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.tecno2.active span{
    width: 180px;
    height: 180px;
    transform: translate(calc(300px * var(--x)), calc(200px * var(--y)));
    background: #e57461;
    box-shadow: 20px 20px 60px #c36352,
                -20px -20px 60px #ff8570;
    padding: 2%;
}
.tecno2 span img{
    transition: 0.6s;
    width: 0;
}
.tecno2.active span img{
    width: 80px;
    padding: 5px;
}
.tecno2.active span img:hover{
    filter: drop-shadow(0 0 8px white);
}

@media(max-width: 624px){
    .tecno2.active {
        width: 240px;
        height: 120px;
    }
    .tecno2.active span{
        width: 90px;
        height: 90px;
        transform: translate(calc(110px * var(--x)), calc(110px * var(--y)));
    }
}
/*-------------- Experiencias ---------------*/

.experi h3{
    text-align: center;
    margin: 100px;
}
.desejo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.caixa{
    color: #f9f7f2;
    width: auto;
    height: auto;
    padding: 3%;
    border-radius: 10px;
    background: #529199;
    text-align: center;
    margin: 30px;    
}
.deseo_profi .exper_descrita{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.exper_descrita .cartao{
    width: 380px;
    height: auto;
    padding: 3%;
    background-color: #529199;
    color: #f9f7f2;
    margin: 2%;
    border-radius: 10px;
}
@media(max-width: 624px){
    .exper_descrita .cartao{
        width: 260px;
        padding: 20px;
    }
}
/* ----------- projetos -------------*/
.proyectos .pro_h2{
    text-align: center;
    margin: 100px;
}
.proyectos .elemento{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.trabalhinhos{
    margin: 20px;
    height: 240px;
    background-color: #2e2b43;
}
.proyectos .elemento .trabalhinhos a img{
    max-height: 100%;
    border-radius: 10px;
    transition: all 0.8s;
}
.proyectos .elemento .trabalhinhos {
    overflow: hidden;
    border-radius: 10px;
}
.trabalhinhos:hover img{
    transform: scale(1.1);
    opacity: 0.6;
}

/*------------- redes sociais / contato -----------*/
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}
.social img{
    width: 40px;
}
.social a{
    transform-origin: 0;
    transition: 0.6s;
}
.social a:hover{
    transform: translateY(-10px);
}
@media(max-width: 624px){
    .social{
        margin: 100px 20px;
    }
}