@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body{
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: rgb(74, 85, 145);
    color: aliceblue;
}
h1{
    text-align: center;
}
.caixa{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 4px;
    background-color: rgb(74, 88, 140);
    color: azure;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.part1{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.part2{
    display: flex;
    justify-content: center;
}
.part3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
select{
    background-color: rgb(74, 88, 140);
    color: azure;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons input {
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}
.buttons input:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}
.buttons input:active {
    transform: scale(0.9);
}

/*---- pagina nueva ----*/

.datos_part1{
    padding: 6%;
    border-radius: 50px;
    background: linear-gradient(145deg, #434d83, #4f5b9b);
    box-shadow:  20px 20px 60px #3f487b,
             -20px -20px 60px #5562a7;

}